body{
    background-color: black;
}

.inline-block{
    display: inline-block;
}

.logo img{
    width: 80px;
    opacity: 40%;
    padding: 10%;
    margin-left: 20px;
}
.navigation{
    height: 100px;
    background-color: black;
    position: sticky;
    margin-left: 200px;
    margin-right: 200px;
}
.inline-block ul {
    list-style-type: none;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 12px;
    opacity: 60%;
  }

.heroImg h1{
    font-family: "Proxima Nova Bold", sans-serif;
    color: white;
    font-size: 80px;
    margin-left: 200px;
    margin-right: 600px;
}

.heroImg h2{
    font-family: "Proxima Nova Light", sans-serif;
    color: white;
    font-size: 48px;
    margin-left: 200px;
    margin-right: 100px;
}

.inline-block li{
      color: white;
      float: left;
      padding: 30px;
      display: block;
  }

.content{
    padding:2%;
}

.content img {
    padding:3%;
    height: 450px;
    border-radius: 15%;
    float: right;
    margin-right:200px;
}

footer{
    background-color:#161616;
    height: 250px;
}

.left p {
    margin-left: 200px;
}

.left {
    display: inline-block;
    padding: 2%;
    width:30%;
    font-family: "Proxima Nova Semibold", sans-serif;
    color: white;
    font-size: 12px;
}

.left img {
    margin-right: 200px;
    margin-left: 200px;
    height: 70px;
    opacity: 60%;
}


.sociallinks {
    display: inline-block;
    padding: 2%;
    width:30%;
    float: right;
    text-align: right;
    margin-right: 200px;
    font-family: "Proxima Nova Semibold", sans-serif;
    color: white;
    font-size: 12px;
    opacity: 60%;
}

a:link{
    color: white;
}
a:visited {
    color: magenta;
}

// MY SKILLS SECTION //

.mySkills {
    display:flex;
    flex-direction: column;
}

.mySkills h1{
    font-family: "Proxima Nova Bold", sans-serif;
    color: white;
    font-size: 72px;
    text-align: center;
}
.mySkills h3 {
    font-family: "Proxima Nova Semibold", sans-serif;
    color: white;
    font-size: 18px;
    opacity: 60%;
}

.mySkills ul {
    font-family: "Proxima Nova Semibold", sans-serif;
    color: white;
    list-style-type: none;
    margin: 0;
  padding: 0;
}

.flexContainer{
    display: flex;
}
.apps {
    float:left;
    width:33%;
    padding:2%;
    margin-left: 200px;
    margin-right: 200px;
}
.apps h2 {
    font-family: "Proxima Nova Light", sans-serif;
    color: white;
    font-size: 36px;
    text-align: left;
}
.tools {
    float:left;
    width:33%;
    padding:2%;
    margin-left: 200px;
    margin-right:200px;
}
.tools h2 {
    font-family: "Proxima Nova Light", sans-serif;
    color: white;
    font-size: 36px;
    text-align: left;
}
.tools ul{
    font-family: "Proxima Nova Semibold", sans-serif;
    color: white;
}

.logos {
    width 20%;
    display: flex;
    flex-direction: row;
    float: left;
}
.logos img {
    height:20px;
    padding: 3%;
}

.backtohomepage{
    display:block;
    margin:auto;
    background-color: #23C5A4;
    color: black;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 16px;
    width: 200px;
    padding: 1%;
    border-radius: 40px;
    border-style: none;

}


.myWork {
    margin-left: 200px;
}
.myWork h1{
    font-family: "Proxima Nova Bold", sans-serif;
    color: white;
    font-size: 72px;
    padding: 2%;
}
.myWork h2 {
    font-family: "Proxima Nova Bold", sans-serif;
    color: white;
    font-size: 36px;
    padding: 2%;
}
.myWork p{
    font-family: "Proxima Nova Light", sans-serif;
    color: white;
    font-size: 18px;
    padding: 2%;
}

.cfhtext{
    grid-area: cfhtext;
}

.cfhimage{
    grid-area: cfhimage;
}
.cfhimage img {
    width:600px;
    margin-left: 200px;
    margin-right: 250px;
}
.logotxt{
    grid-area: logotxt;
}
.logoimg{
    grid-area: logoimg;
}
.logoimg img{
    width:600px;
    margin-left: 200px;
    margin-right: 250px;

}
.doitext{
    grid-area: doitext;
}
.doiimg{
    grid-area: doiimg;

}
.doiimg img{
    width:600px;
    margin-left: 200px;
    margin-right: 250px;
}

.banner img {
    width:100%;
    display: block;
    margin: auto;   
    justify-content: center;
    align-items: center;
}


.work1 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "doitext doiimg";
    padding:2%;
}
.work2{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "cfhtext cfhimage";
    padding:2%;
}

.work3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "logotxt logoimg";
    padding:2%;
}

.myWork button {
    background-color: grey;
    color: black;
    width: 150px;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 16px;
    padding: 2%;
    border-radius: 40px;
    border-style: none;
}


@media only screen and (max-width: 600){
    .flexContainer{
        display: flex;
        flex-direction: column;
    }
    .work1 {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "doitext" 
        "doiimg";
    
    }
    .work2{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "cfhtext" 
        "cfhimage";
    }
    
    .work3{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "logotxt" 
        "logoimg";

    }

}
body {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #0075A2;
    color:#0075A2 ;
  }

#h1{
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 72px;
}

h1{
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 72px;
}

h2{
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 48px;
}

h3{
    color:white;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 24px;
}

p{
    color:white;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 16px;
    line-height: 240%;
}

.nav {
    height: 10%;
    background-color: black;
    position: sticky;
    padding: 2%;
    }

#myRole {
    margin-left: 5%;
}

#pagetitle{
    display: block;
    text-align: center;
}
#pagetitle2{
    display: block;
    text-align: center;
}


#casestudynav{
    justify-content:space-evenly;
}

.nav img {
        height: 60px;
        opacity: 40%;
    }

 .nav-link {
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 12px;
    opacity: 60%;
    }
.container {
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 12px;
}

#projectTimeline img {
    height:75%;
}

#problem img{
    height: 400px;
    float: right;
}

#statements img{
    height: 70%;
    display: block;
    margin: auto;
    align-items: center;
}

#userpersona img{
    height:300px;
    display: block;
    margin: auto;
    align-items: center;
}

#weblayout img{
    height: 80%;
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 25px;
}
#weblayout h3{
    text-align: center;
}

#userpersona h3{
    text-align: center;
}

#statements{
    padding: 4%;
    background-color: #481620;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
}

#demographics, #behavioraldemo, #goals, #frustrations {
    padding: 2%;
    background-color: #D54900;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
}

#desktopv1, #desktopv2{
    padding: 2%;
    margin-left: 2%;
    margin-right:2%
}

#desktopwireframes img{
    height: 300px;
    display: block;
    margin: 0;
    align-items: center;
}

#desktopv3 img{
    height:500px;
    display: block;
    margin: auto;
    align-items: center;
}

#mobilewireframes img{
    height: 600px;
    display: block;
    margin: auto;
}

#v1{
    display: flex;
    flex-direction: row;
}

#mobilev3{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#mobilev3 img{
    height: 600px;
}

#desktopv1 {
    border-right-color: white;
    border-right-width: 2px;
    border-right-style: solid;
}