body {
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #0075A2;
    color:#0075A2 ;
  }

#h1{
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 72px;
}

h1{
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 72px;
}

h2{
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 48px;
}

h3{
    color:white;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 24px;
}

p{
    color:white;
    font-family: "Proxima Nova Regular",sans-serif;
    font-size: 16px;
    line-height: 240%;
}

.nav {
    height: 10%;
    background-color: black;
    position: sticky;
    padding: 2%;
    }

#myRole {
    margin-left: 5%;
}

#pagetitle{
    display: block;
    text-align: center;
}
#pagetitle2{
    display: block;
    text-align: center;
}


#casestudynav{
    justify-content:space-evenly;
}

.nav img {
        height: 60px;
        opacity: 40%;
    }

 .nav-link {
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 12px;
    opacity: 60%;
    }
.container {
    color:white;
    font-family: "Proxima Nova Semibold",sans-serif;
    font-size: 12px;
}

#projectTimeline img {
    height:75%;
}

#problem img{
    height: 400px;
    float: right;
}

#statements img{
    height: 70%;
    display: block;
    margin: auto;
    align-items: center;
}

#userpersona img{
    height:300px;
    display: block;
    margin: auto;
    align-items: center;
}

#weblayout img{
    height: 80%;
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 25px;
}
#weblayout h3{
    text-align: center;
}

#userpersona h3{
    text-align: center;
}

#statements{
    padding: 4%;
    background-color: #481620;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
}

#demographics, #behavioraldemo, #goals, #frustrations {
    padding: 2%;
    background-color: #D54900;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
}
